@{
    ViewBag.Title = "Administration";
}

<h4 class="text-center">Perfectly Made Inc., NOW Registration System</h4>
<div class="row">
    <img class="ml-auto mr-auto" src="/Images/administration-eagle.jpg" alt="eagle"/>
</div>
