<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>MvasProd</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mainversionautomationsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mainversionautomationsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MainVersionAutomationSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MainVersionAutomationSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AutomationSystem.Main.Model.MainEntities, AutomationSystem.Main.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CoreEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AutomationSystem.Shared.Model.CoreEntities, AutomationSystem.Shared.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebExEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PerfectlyMadeInc.WebEx.Model.WebExEntities, PerfectlyMadeInc.WebEx" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebExEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>metadata=res://*/Model.WebExContext.csdl|res://*/Model.WebExContext.ssdl|res://*/Model.WebExContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CoreContext.csdl|res://*/CoreContext.ssdl|res://*/CoreContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MainEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MainContext.csdl|res://*/MainContext.ssdl|res://*/MainContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>