@model HomeErrorPageModel
@{
    ViewBag.Title = LayoutTexts.PageTitleErrorString;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    var style = RegistrationPageStyleHelper.GetStyle(ViewBag);
}

<content>

    <h2>@Model.Title</h2>
    <hr class="headline-hr" />

    <p>
        @Model.Message
    </p>
    
    @using (var bg = Html.ButtonGroup(ButtonGroupType.PagePartGroup))
    {
        @bg.Link(ButtonTexts.BackToHomeString, ButtonStyle.PublicPrimary, style.HomepageUrl ?? Url.Action("Index"))
    }

</content>
