@{
    ViewBag.Title = CommonResources.MenuCoordinatorContacts;
    ViewBag.ActiveMainMenuItemId = MenuItemId.CoordinatorContacts;
}

<p>
    <em>You cannot use contacts functionality because you have no assigned profile.</em>
</p>