/* MAIN LAYOUT AND FOOTER LOGIC */
/* page elements must fill whole page. html, body and optionally other tags in hierarchy should be decorated with this class */
.full-height {
    height: 100%;
}

/* expand-placeholder (usualy body element) defines padding where expand-height element not fits*/
.expand-placeholder {
    padding-top: 16px
}

/* some element on the footer level must swallow whole space*/
.expand-height {
    min-height: 100%;
    margin-top: -16px;
}

/* footer-placeholder (usualy body element) defines padding where footer will be shown */
.footer-placeholder {
    padding-bottom: 50px;
}


/* footer has negative margin to fit in the bottom without scrolling */
footer {
    font-size: .8em;
    margin-bottom: -50px;
    min-height: 50px;
}


/* MISC CONTENTS */

.main-content {
    margin-top: 20px;
}

.message-content {
    margin-top: 8px;
}

.admin-link {
    color: grey;
}


header {
    min-height: 200px;
    padding-top: 28px;   
    background-size: cover;
}


.header-title {
    color: white;
    text-shadow: 0.05rem 0.04rem 0.025rem grey;
    margin-bottom: 34px;
}

    .header-title h1 {
        margin-top: -0.2em;
        text-shadow: 0.08rem 0.06rem 0.025rem grey;
    }

h2 {
    margin-bottom: 0.1rem;
}

h3, h4 {
    font-weight: bold;
}

hr.headline-hr {
    margin-top: 0rem;
}

#paypal-button-wrapper {
    margin-bottom: 25px;
}


