<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="Resources" />
        <add namespace="System.Globalization" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="ASP.AutomationSystemHelpers" />
        <add namespace="ASP.CorabeuControlRazorHelpers" />
        <add namespace="CorabeuControl.Components" />
        <add namespace="CorabeuControl.Context"/>
        <add namespace="CorabeuControl.Helpers" />
        <add namespace="CorabeuControl.ModelComposites"/>
        <add namespace="CorabeuControl.ModelMetadata" />

        <add namespace="AutomationSystem.Base.Contract.Enums" />

        <add namespace="AutomationSystem.Shared.Contract.BatchUploads.AppLogic.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Emails.AppLogic.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Emails.System.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Identities.AppLogic.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Incidents.AppLogic.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Jobs.AppLogic.Models"/>
        <add namespace="AutomationSystem.Shared.Contract.Localisation.AppLogic.Models" />
        <add namespace="AutomationSystem.Shared.Contract.Localisation.System.Models" />

        <add namespace="AutomationSystem.Main.Contract.Addresses.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Actions"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Base"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Certificates"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Finances"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Preferences"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.Reports"/>
        <add namespace="AutomationSystem.Main.Contract.Classes.AppLogic.Models.StyleAndBehavior"/>
        <add namespace="AutomationSystem.Main.Contract.Contacts.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.DistanceClassTemplates.AppLogic.Models.Base" />
        <add namespace="AutomationSystem.Main.Contract.DistanceClassTemplates.AppLogic.Models.Completion"/>
        <add namespace="AutomationSystem.Main.Contract.DistanceProfiles.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Files.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.FormerClasses.AppLogic.Models.FormerClasses" />
        <add namespace="AutomationSystem.Main.Contract.FormerClasses.AppLogic.Models.FormerStudents" />
        <add namespace="AutomationSystem.Main.Contract.FormerClasses.AppLogic.Models.FormerStudentsBatchUploads" />
        <add namespace="AutomationSystem.Main.Contract.Home.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Integration.AppLogic.Models.Accounts" />
        <add namespace="AutomationSystem.Main.Contract.Integration.AppLogic.Models.Programs" />
        <add namespace="AutomationSystem.Main.Contract.MaterialDistribution.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Payment.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.Persons.AppLogic" />
        <add namespace="AutomationSystem.Main.Contract.Persons.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Preferences.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Profiles.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.PriceLists.AppLogic.Models"/>
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.Base" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.Documents" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.Integration" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.Invitations" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.ManualReview" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.Payments" />
        <add namespace="AutomationSystem.Main.Contract.Registrations.AppLogic.Models.PersonalData" />
        <add namespace="AutomationSystem.Main.Contract.RegistrationUpload.AppLogic.Models" />
        <add namespace="AutomationSystem.Main.Contract.Reports.AppLogic.Models" />

        <add namespace="AutomationSystem.Main.Core.Gui.Helpers" />

        <add namespace="PerfectlyMadeInc.WebEx.Contract.IntegrationStates" />
        <add namespace="PerfectlyMadeInc.WebEx.Contract.Programs.Models" />
        <add namespace="PerfectlyMadeInc.WebEx.Contract.IntegrationStates.Models" />
        <add namespace="PerfectlyMadeInc.WebEx.Contract" />

        <add namespace="AutomationSystem.Main.Web" />
        <add namespace="AutomationSystem.Main.Web.Controllers"/>
        <add namespace="AutomationSystem.Main.Web.Filters" />
        <add namespace="AutomationSystem.Main.Web.Helpers" />
        <add namespace="AutomationSystem.Main.Web.Helpers.BatchUploads"/>
        <add namespace="AutomationSystem.Main.Web.Helpers.EmailTemplates" />
        <add namespace="AutomationSystem.Main.Web.Helpers.HomeWorkflow" />
        <add namespace="AutomationSystem.Main.Web.Helpers.Materials" />
        

        <!--<add namespace="" />               
        <add namespace="" />
        <add namespace="" />
        <add namespace="" />-->

      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />  
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>    
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
