<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>   
    <add key="BaseUrlAddress" value="https://perfectlymadenow.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleOAuthClientId" value="221430489629-at4gt29bbul77kr4hbjasp7sm9hjc7e0.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoogleOAuthClientSecret" value="AodxRqagCu0-UkYr1cPjWO2l" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ProcessErrors" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>
  

  <connectionStrings>
    <add name="MainEntities" 
         connectionString="metadata=res://*/MainContext.csdl|res://*/MainContext.ssdl|res://*/MainContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreEntities" 
         connectionString="metadata=res://*/CoreContext.csdl|res://*/CoreContext.ssdl|res://*/CoreContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebExEntities"
         connectionString="metadata=res://*/Model.WebExContext.csdl|res://*/Model.WebExContext.ssdl|res://*/Model.WebExContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    
  </connectionStrings>

  <system.diagnostics xdt:Transform="Replace">    
    <trace autoflush="true" indentsize="1" />
  </system.diagnostics>


  <!-- PROD -->
    <!--
  <add name="MainEntities" connectionString="metadata=res://*/MainContext.csdl|res://*/MainContext.ssdl|res://*/MainContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"/>
  <add name="CoreEntities" connectionString="metadata=res://*/CoreContext.csdl|res://*/CoreContext.ssdl|res://*/CoreContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
  <add name="WebExEntities" connectionString="metadata=res://*/Model.WebExContext.csdl|res://*/Model.WebExContext.ssdl|res://*/Model.WebExContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />-->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>