<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!--Main Production-->
    <add key="ConfigType" value="DebugMvasProd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>


  <connectionStrings>

    <!--MAIN Production-->
    <add name="MainEntities"
         connectionString="metadata=res://*/MainContext.csdl|res://*/MainContext.ssdl|res://*/MainContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreEntities"
         connectionString="metadata=res://*/CoreContext.csdl|res://*/CoreContext.ssdl|res://*/CoreContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebExEntities"
         connectionString="metadata=res://*/Model.WebExContext.csdl|res://*/Model.WebExContext.ssdl|res://*/Model.WebExContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataserver.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

</configuration>