<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!--Main Production-->
    <add key="BaseUrlAddress" value="https://mvastest.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConfigType" value="MvasTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebRootPath" value="D:\home\site\wwwroot" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>


  <connectionStrings>

    <!--MAIN Test-->
    <add name="MainEntities"
         connectionString="metadata=res://*/MainContext.csdl|res://*/MainContext.ssdl|res://*/MainContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataservertest.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreEntities"
         connectionString="metadata=res://*/CoreContext.csdl|res://*/CoreContext.ssdl|res://*/CoreContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataservertest.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebExEntities"
         connectionString="metadata=res://*/Model.WebExContext.csdl|res://*/Model.WebExContext.ssdl|res://*/Model.WebExContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:asdataservertest.database.windows.net,1433;Initial Catalog=MVASDatabase;Persist Security Info=False;User ID=asadmin;Password=LvasMvas123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>


  <system.diagnostics xdt:Transform="Replace">

    <!--Azure settings-->
    <trace autoflush="true" indentsize="1" >
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>

  </system.diagnostics>

</configuration>