@{

    // creates base text input
    var metadata = new EditorTemplateMetadataProvider<dynamic>(ViewData);
    var name = metadata.Name;
    var id = metadata.Id;
    var typeaheadInput = TypeaheadInput.New(id, name, Model, null, metadata.Placeholder);

}

@InputControl.AddTypeaheadTextInput(this, typeaheadInput)
@if (!metadata.NoErrorPlaceholder)
{
    <div id="@TextHelper.DecorateName(id, "error-placeholder")"></div>
}