.dropdown-item.active, .dropdown-item:active {
    background-color: #A2D724 !important;
}

/* BUTTONS */
.btn-public {
    color: #fff;
    background-color: #A2D724;
    border-color: #A2D724;
}

    .btn-public:hover {
        color: #fff;
        background-color: #85B01E;
        border-color: #85B01E;
    }

    .btn-public:focus, .btn-public.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-public.disabled, .btn-public:disabled {
        color: #fff;
        background-color: #A2D724;
        border-color: #A2D724;
    }

    .btn-public:not(:disabled):not(.disabled):active, .btn-public:not(:disabled):not(.disabled).active,
    .show > .btn-public.dropdown-toggle {
        color: #fff;
        background-color: #A2D724;
        border-color: #A2D724;
    }

        .btn-public:not(:disabled):not(.disabled):active:focus, .btn-public:not(:disabled):not(.disabled).active:focus,
        .show > .btn-public.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }

.btn-outline-public {
    color: #A2D724;
    background-color: transparent;
    background-image: none;
    border-color: #A2D724;
}

    .btn-outline-public:hover {
        color: #fff;
        background-color: #A2D724;
        border-color: #A2D724;
    }

    .btn-outline-public:focus, .btn-outline-public.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-outline-public.disabled, .btn-outline-public:disabled {
        color: #A2D724;
        background-color: transparent;
    }

    .btn-outline-public:not(:disabled):not(.disabled):active, .btn-outline-public:not(:disabled):not(.disabled).active,
    .show > .btn-outline-public.dropdown-toggle {
        color: #fff;
        background-color: #A2D724;
        border-color: #A2D724;
    }

        .btn-outline-public:not(:disabled):not(.disabled):active:focus, .btn-outline-public:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-public.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }


.table-public,
.table-public > th,
.table-public > td {
    background-color: #eaf8d2;
}

.table-hover .table-public:hover {
    background-color: #eaf8d2;
}

    .table-hover .table-public:hover > td,
    .table-hover .table-public:hover > th {
        background-color: #eaf8d2;
    }
